<div class="detail-container" *ngIf="chambre">
    <button class="retour-btn" (click)="retour()">← Retour</button>
  
    <div class="slider">
      <img [src]="chambre.images[imageIndex]" alt="Image chambre" class="slide-image">
      <div class="nav-prev" (click)="prevSlide()">&#10094;</div>
      <div class="nav-next" (click)="nextSlide()">&#10095;</div>
    </div>
  
    <div class="info">
      <h2>{{ chambre.type }}</h2>
      <p><strong>Description :</strong> {{ chambre.desc }}</p>
      <p><strong>Capacité :</strong> {{ chambre.capacite }} personnes</p>
      <p><strong>Prix :</strong> {{ chambre.prix }} DT / nuit</p>
  
      <button  (click)="reserver()" class="reserver-btn">reserver
      </button>
    </div>
  </div>
  