<div class="container mt-4">
    <h2>Dashboard Administrateur</h2>
  
    <!-- Navigation -->
    <nav class="nav nav-pills flex-column flex-sm-row my-3">
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="clients" routerLinkActive="active">
        Clients
      </a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="reservations" routerLinkActive="active">
        Réservations
      </a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="chambress" routerLinkActive="active">
        Chambres
      </a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="offres" routerLinkActive="active">
        Offres
      </a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="evenements" routerLinkActive="active">
        Événements
      </a>
    </nav>
  
    <!-- Content Area -->
    <router-outlet></router-outlet>
  </div>
  